- provide(:title, 'Sign In')
.row
	.span6.offset3
		= bootstrap_form_tag(sessions_path, :class => "form-horizontal") do
			%fieldset
				
				%legend<
					%span.controls Sign In

				= bootstrap_text_field_tag :email, params[:email]

				= bootstrap_password_field_tag :password

				.form-actions<
					= bootstrap_submit_tag "Sign In"
