- provide(:title, 'Goals')
.page-header
	%h1 Goals

%section
	.row
		.span6.offset3
			= render 'new'

%section
	= will_paginate
	%table.table.table-striped.table-condensed.table-bordered
		%thead
			%tr
				%th Rank
				%th Name
				%th Cost
		%tbody
			- if @goals.empty?
				%tr
					%td(colspan="3") No goals yet
			- else
				= render @goals
	= will_paginate
