@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	padding-bottom: 60px;
}

.bold {
	font-weight: bold;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	padding-bottom: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

/* forms */

.form-horizontal .field_with_errors {
	float: left;
	text-align: right;
	width: 140px;
}

form {
	legend small {
		color: $grayLight;
		font-size: 14px;
	}
	.input-prepend input {
		width: 182px;
	}
}

/* index tables */

.delete {
	float: right;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}
