<% provide(:title, 'Budget Categories') %>
<div class="page-header"><h1>Budget Categories</h1></div>

<section>
	<%= link_to "Add a category", new_category_path, class: "btn" %>
</section>

<section>
	<%= will_paginate %>
		<table class="table table-striped table-condensed table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Budget</th>
					<th>Spent</th>
					<th>Money Left</th>
				</tr>
			</thead>
			<tbody>
				<% if @categories.empty? %>
					<tr><td>No categories yet</td><td></td><td></td><td></td></tr>
				<% else %>
					<%= render @categories %>
				<% end %>
			</tbody>
		</table>
	<%= will_paginate %>
</section>
