<% provide(:title, "Category #{@category.name}") %>
<h1>Category: <%= @category.name %></h1>
<section>
	<table class="table table-striped table-condensed table-bordered">
		<thead>
			<tr>
				<th>Amount</th>
				<th>Transaction Date</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<% if @debits.empty? %>
				<tr><td>No flushes yet.</td><td></td><td></td></tr>
			<% else %>
				<%= render @debits, hide_category: true %>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate @debits %>
</section>
